$corDeFundo: #000;
$corTextoPrincipal: silver;
$corTextSecundario: #f9f9f9;
$corDeFundoDoBotaoPrimario:linear-gradient(90deg, rgba(48,46,48,1) 0%, rgba(253,29,29,0.896796218487395) 50%, rgba(244,192,119,1) 100%);
$corDeFundoBotaoDark: rgba(0, 0, 0, 0.8);